__Eithar Elfatih Burie Abdelrahman DS2403__

# Bank Marketing Project

__BANK MARKETING:__ Predicting Whether The Customer Will Subscribe To Term Deposit (FIXED DEPOSIT) or not.
Business Use Case

There has been a revenue decline for a Portuguese bank and they would like to know what actions to take. After investigation, they found out that the root cause is that their clients are not depositing as frequently as before. Knowing that term deposits allow banks to hold onto a deposit for a specific amount of time, so banks can invest in higher gain financial products to make a profit. In addition, banks also hold better chance to persuade term deposit clients into buying other products such as funds or insurance to further increase their revenues. As a result, the Portuguese bank would like to identify existing clients that have higher chance to subscribe for a term deposit and focus marketing efforts on such clients.

__Project Description__
Your client is a retail banking institution. Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing and digital marketing. Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.
You are provided with the client data such as : age of the client, their job type, their marital status, etc. Along with the client data, you are also provided with the information of the call such as the duration of the call, day and month of the call, etc. Given this information, your task is to predict if the client will subscribe to term deposit.
About The Dataset
The dataset is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal of this dataset is to predict if the client or the customer of polish banking institution will subscribe a term deposit product of the bank or not. 



You are provided with following 2 files:
1.     train.csv : Use this dataset to train the model. This file contains all the client and call details as well as the target variable “subscribed”. You have to train your model using this file.
2.     test.csv : Use the trained model to predict whether a new set of clients will subscribe the term deposit.
 
__Dataset Attributes__

Here is the description of all the variables:

    •	Variable: Definition
    •	ID: Unique client ID
    •	age: Age of the client
    •	job: Type of job
    •	marital: Marital status of the client
    •	education: Education level
    •	default: Credit in default.
    •	housing: Housing loan
    •	loan: Personal loan
    •	contact: Type of communication
    •	month: Contact month
    •	day_of_week: Day of week of contact
    •	duration: Contact duration
    •	campaign: number of contacts performed during this campaign to the client
    •	pdays: number of days that passed by after the client was last contacted
    •	previous: number of contacts performed before this campaign
    •	poutcome: outcome of the previous marketing campaign
    
    Output variable (desired target):
__•	Subscribed (target): has the client subscribed a term deposit? (YES/NO)__

_______________________________________________________________________________________________________________________________

# 1. Import necessary libraries

In [2]:
#Import necessary Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# 2.Data Cleaning

In [3]:
#read dataframe for bank(train) dataset from csv file 
bank_URL_1='https://raw.githubusercontent.com/FlipRoboTechnologies/ML-Datasets/main/Bank%20Marketing/termdeposit_train.csv'
df=pd.read_csv(bank_URL_1)

#read dataframe for (test) dataset from csv file 
bank_URL_2='https://raw.githubusercontent.com/FlipRoboTechnologies/ML-Datasets/main/Bank%20Marketing/termdeposit_test.csv'
df2=pd.read_csv(bank_URL_2)

In [4]:
pd.set_option('display.max_columns', None)

In [6]:
#create dataframe of csv
df_bank=pd.DataFrame(df)

#sort index
df_bank.index+=1
#show dataset
df_bank.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
2,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
3,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
4,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
5,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
6,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

________________

In [8]:
#show dataset head
df_bank.tail(5)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
31644,36483,29,management,single,tertiary,no,0,yes,no,cellular,12,may,116,2,-1,0,unknown,no
31645,40178,53,management,divorced,tertiary,no,380,no,yes,cellular,5,jun,438,2,-1,0,unknown,yes
31646,19710,32,management,single,tertiary,no,312,no,no,cellular,7,aug,37,3,-1,0,unknown,no
31647,38556,57,technician,married,secondary,no,225,yes,no,telephone,15,may,22,7,337,12,failure,no
31648,14156,55,management,divorced,secondary,no,204,yes,no,cellular,11,jul,1973,2,-1,0,unknown,yes

____________

In [15]:
# show shape
df_bank.shape

(31647, 18)

In [16]:
df_bank.nunique()

ID            31647
age              76
job              12
marital           3
education         4
default           2
balance        6326
housing           2
loan              2
contact           3
day              31
month            12
duration       1454
campaign         45
pdays           509
previous         38
poutcome          4
subscribed        2
dtype: int64

__COMMENT:__

In [9]:
#show info

df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 2 to 31648
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          31647 non-null  int64
 1   age         31647 non-null  int64
 2   job         31647 non-null  object
 3   marital     31647 non-null  object
 4   education   31647 non-null  object
 5   default     31647 non-null  object
 6   balance     31647 non-null  int64
 7   housing     31647 non-null  object
 8   loan        31647 non-null  object
 9   contact     31647 non-null  object
 10  day         31647 non-null  int64
 11  month       31647 non-null  object
 12  duration    31647 non-null  int64
 13  campaign    31647 non-null  int64
 14  pdays       31647 non-null  int64
 15  previous    31647 non-null  int64
 16  poutcome    31647 non-null  object
 17  subscribed  31647 non-null  object
dtypes: int64(8), object(10)
memory usage: 4.3+ MB

__COMMENT:__ all columns are type 'object', except 'CGPA' which is flaot 64.

In [10]:
#show column values 
df_bank.columns.values

array(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'subscribed'],
      dtype=object)

__COMMENTS:__ the columns

#check for null values 
df_grades.isnull().sum()

In [11]:
#check for null values 
df_bank.isnull().sum().sum()

0

__COMMENT:__

There are no null values.

In [12]:
#check for duplicates
df_bank.duplicated().value_counts()

False    31647
dtype: int64

__COMMENT:__ no duplicates

_____________________________

In [13]:
#create dataframe of csv
df_bank2=pd.DataFrame(df2)

#sort index
df_bank2.index+=1
#show dataset
df_bank2.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
1,38441,32,services,married,secondary,no,118,yes,no,cellular,15,may,20,6,-1,0,unknown
2,40403,78,retired,divorced,primary,no,2787,no,no,telephone,1,jul,372,1,-1,0,unknown
3,3709,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown
4,37422,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown
5,12527,45,blue-collar,divorced,secondary,no,-705,no,yes,unknown,3,jul,111,1,-1,0,unknown

In [14]:
#show dataset tail 
df_bank2.tail(5)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
13560,23465,39,management,married,tertiary,no,45,no,no,cellular,28,aug,148,4,-1,0,unknown
13561,11743,54,blue-collar,married,primary,no,2281,yes,no,unknown,20,jun,158,1,-1,0,unknown
13562,28292,35,retired,married,primary,no,285,yes,no,cellular,29,jan,136,1,-1,0,unknown
13563,45163,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success
13564,34839,29,admin.,married,secondary,no,2,yes,no,cellular,6,may,339,1,362,1,failure

________________

In [15]:
# show shape
df_bank2.shape

(13564, 17)

In [16]:
df_bank2.nunique()

ID           13564
age             75
job             12
marital          3
education        4
default          2
balance       4292
housing          2
loan             2
contact          3
day             31
month           12
duration      1201
campaign        40
pdays          422
previous        33
poutcome         4
dtype: int64

__COMMENT:__

In [17]:
#show info

df_bank2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 1 to 13564
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         13564 non-null  int64
 1   age        13564 non-null  int64
 2   job        13564 non-null  object
 3   marital    13564 non-null  object
 4   education  13564 non-null  object
 5   default    13564 non-null  object
 6   balance    13564 non-null  int64
 7   housing    13564 non-null  object
 8   loan       13564 non-null  object
 9   contact    13564 non-null  object
 10  day        13564 non-null  int64
 11  month      13564 non-null  object
 12  duration   13564 non-null  int64
 13  campaign   13564 non-null  int64
 14  pdays      13564 non-null  int64
 15  previous   13564 non-null  int64
 16  poutcome   13564 non-null  object
dtypes: int64(8), object(9)
memory usage: 1.8+ MB

__COMMENT:__ all columns

In [18]:
#show column values 
df_bank2.columns.values

array(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome'], dtype=object)

__COMMENTS:__ the columns

#check for null values 
df_grades.isnull().sum()

In [19]:
#check for null values 
df_bank2.isnull().sum().sum()

0

__COMMENT:__

There are no null values.

In [20]:
#check for duplicates
df_bank2.duplicated().value_counts()

False    13564
dtype: int64

__COMMENT:__ no duplicates